<div class="flex items-center mb-4">
  <%= form.check_box field, { class: checkbox_classes }.merge(options) %>
  <%= form.label field, label_text, class: "select-none ms-2 text-sm font-medium text-heading" %>
</div>
